@import '../Common/Styles/saas/variables';
@import '../Common/Styles/saas/mixins';

.projectsBlock {
  min-height: 85vh;
  padding: 100px 0;
  @include flex(column, center, center, wrap);

  .projectsContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .projects {
      width: 100%;
      @include flex(row, space-between, start, wrap);
      margin-top: 30px;
      @media screen and (max-width: 1266px) {
        justify-content: center;
        gap: 15px;
      }
    }
  }
}



