@import '../Common/Styles/saas/variables';
@import '../Common/Styles/saas/mixins';

.header {
    height: 100px;
    width: 100%;
    @include flex(row, flex-end, center, nowrap);
    z-index: 9999;
    position: fixed;
    opacity: 0.9;
}

