@import '../Common/Styles/saas/mixins';
@import '../Common/Styles/saas/variables';

.jobBlock {
  min-height: 30vh;
  padding: 100px 0;
  @include flex(column, space-around, center, wrap);

  .jobContainer {
    @include container();
    @include flex(column, flex-start, center, wrap);

    @media screen and (max-width: 380px) {
      justify-content: center;
      align-content: center;
    }
    .button {
      @include text($fontFamilyDescription, 16px, 1.2);
      height: 40px;
      width: 150px;
      background-color: $primaryColor;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      padding-top: 20px;
    }
  }
}










