@import '../Common/Styles/saas/mixins';
@import '../Common/Styles/saas/variables';
@import '../Common/components/button/Button.module';

.jobBlock {
  min-height: 30vh;
  padding: 100px 0;
  @include flex(column, space-around, center, wrap);

  .jobContainer {
    @include container();
    @include flex(column, flex-start, center, wrap);

    @media screen and (max-width: 380px) {
      justify-content: center;
      align-content: center;
    }

    .button {
      @include flex(row, center, center, wrap);
      @include text($fontFamilyDescription, 16px, 1.2);
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 8px 20px;
      max-width: 100px;
      width: 100%;
      color: $textColor;
      outline: none;
      position: relative;
      z-index: 0;
      cursor: pointer;
      text-decoration: none;
      margin-top: 10px;
      border: none;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        background-color: $primaryColor;
        bottom: 0;
        z-index: -1;
        transition: all 0.2s ease-in-out;

      }

      &:hover{
        text-decoration: none;
        color: $textColor;
        &::after {
          width: 100%;
          height: 100%;
          transition: all 0.3s ease-in-out 0s;
        }
      }

    }


  }

}










