@import '../../Common/Styles/saas/variables';
@import '../../Common/Styles/saas/mixins';

.skill {
  width: 250px;
  background-color: $bgColor;
  @include flex(column, center, center, wrap);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;

  .icon {
    height: 60px;
    width: 60px;
    background-color: $bgSecondColor;
    @include bgSettings();
    position: relative;
  }

  .skillInfo {
    padding: 10px 10px;

    .title {
      @include text($fontFamilyMain, 16px, 1.2);
      letter-spacing: 1px;

    }

    .description {
      @include text($fontFamilyDescription, 14px, 1.2);
      font-weight: 400;
    }

  }
}









