@import '../../Common/Styles/saas/variables';
@import '../../Common/Styles/saas/mixins';


.project {
  width: 500px;
  background-color: $bgSecondColor;
  @include flex(row, space-around, center, wrap);
  text-align: center;
  padding-bottom: 20px;
  @media screen and (max-width: 520px) {
    width: 300px;
  }

  .icon {
    height: 350px;
    width: 100%;
    @include flex(row, center, center, wrap);
    @include bgSettings();
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .title {
      @include text($fontFamilyMain, 16px, 1.2);
      letter-spacing: 1px;
    }

    .description {
      @include text($fontFamilyDescription, 13px, 1.8);
      font-weight: 400;
    }
  }

}







