@import '../Common/Styles/saas/variables';
@import '../Common/Styles/saas/mixins';


.skillsBlock {
  min-height: 75vh;
  padding: 100px 0;
  @include flex(row, center, center, wrap);

  .skillsContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .skills {
      width: 100%;
      @include flex(row, space-between, start, wrap);
      margin-top: 30px;
      //box-sizing: border-box;
      @media screen and (max-width: 955px) {
        @include flex(column, center, center, wrap);
        align-content: center;
        gap: 15px;
      }
    }
  }
}







