@import '../Common/Styles/saas/variables';
@import '../Common/Styles/saas/mixins';

.nav {
  width: 400px;
  display: flex;
  justify-content: space-around;

  a {
    @include text($fontFamilyDescription, 18px, 1.2);
    font-weight: 700;
    text-decoration: none;
  }

  :hover {
    color: $primaryColor;
  }

}




