@import '../Common/Styles/saas/variables';
@import '../Common/Styles/saas/mixins';

.footerBlock {
  min-height: 10vh;
  padding: 60px 0;
  @include flex(row, center, center, wrap);


  .footerContainer {
    @include container();
    @include flex(column, center, center, wrap);
    @media screen and (max-width: 630px) {
      justify-content: center;
      align-content: center;
    }

    .footerElementsContainer {
      @include flex(row, center, center, wrap);
      gap: 100px;
      @media screen and (max-width: 630px) {
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 30px;
      }

      .footerElement {
        height: 50px;
        width: 50px;

        & > a {
          @include text($fontFamilyMain, 16px, 1);
          text-decoration: none;
        }

        & > a:hover {
          color: $primaryColor;
        }

      }
    }
  }

  .title {
    @include text($fontFamilyMain, 16px, 1.2);
  }

}











